---
language: c
addons:
  apt:
    packages:
      - python3-pip
cache:
  directories:
    - $HOME/.atspkg
install:
  - mkdir -p $HOME/.local/bin
  - pip3 install yamllint
  - curl -sSl https://raw.githubusercontent.com/vmchale/atspkg/master/bash/install.sh | bash -s
  - export PATH=$HOME/.local/bin:$PATH
  - atspkg -V
script:
  - curl -sL https://raw.githubusercontent.com/vmchale/tomlcheck/master/sh/check | sh -s .atsfmt.toml
  - atspkg build
  - wget https://raw.githubusercontent.com/simonmar/happy/master/examples/Calc.ly -O test/data/calc.ly
  - ./target/lit test/data/calc.ly
