---
matrix:
  include:

    - env: TARGET="x86_64-unknown-linux"
      os: linux
      language: c
      addons:
        apt:
          packages:
            - python3-pip

    - env: TARGET="x86_64-apple-darwin"
      os: osx
      language: c

cache:
  directories:
    - $HOME/.atspkg
    - $HOME/.local
install:
  - mkdir -p $HOME/.local/bin
  - |
    if [ $TARGET = "x86_64-unknown-linux" ]
    then
      pip3 install yamllint --user
    else
      echo 'skipping'
    fi
  - curl -sSl https://raw.githubusercontent.com/vmchale/atspkg/master/bash/install.sh | bash -s
  - export PATH=$HOME/.local/bin:$PATH
  - atspkg -V
  - cc --version
script:
  - |
    if [ $TARGET = "x86_64-unknown-linux" ]
    then
      yamllint .travis.yml
      yamllint .yamllint
      curl -sL https://raw.githubusercontent.com/vmchale/tomlcheck/master/sh/check | sh -s .atsfmt.toml
    fi
  - atspkg build -vvv
  - ./target/lit test/data/calc.ly
  - ./target/lit test/data/setup.lhs
